@import 'compass';
@import "compass/reset";

.cf {clear: both;}

* {
  @include box-sizing(border-box);
}

body {
  font-family: 'helvetica neue', sans-serif;
}

h1 {
  font-size: 24px;
  line-height: 1.2em;
  margin-bottom: 10px;
}

h2 {
  font-size: 22px;
  line-height: 1.2em;
}

.container {
  max-width: 700px;
  margin: 20px auto;
}

.center {
  text-align: center;
}

button {
  border: 0;
  outline: 0;
  background: rgba(#000, 0);
  color: #000;
  font-size: 18px;
  padding: 5px 10px;
  margin-bottom: 10px;
  
  @include transition(all, .5s);

  &:active {
    background: grey;
  }

  &.active {
    background: rgba(#000, 1);
    color: #FFF;
  }
}

.questions {
  position: relative;
  min-height: 120px;
  margin-bottom: 10px;
  @include translate3d(0,0,0);
}

.question {
  position: absolute;
  margin-bottom: 30px;
  left:  0;
  right: 0;
  @include opacity(0);
  @include transform(scale(.4) perspective(800) rotateY(180deg));
  @include transition(transform, 1.2s);
  @include transition-timing-function(ease);
  // @include perspective( 1000 );
  @include transform-origin( 50%, 50%, -400px );

  h2 {
    text-align: center;
    margin-bottom: 10px;
  }
}


.options {
  position: relative;
}

.error,
.correct,
.incorrect {
  text-align: center;
  background: rgba(#FFF, .93);
  line-height: 80px;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  z-index: 1;
  left:   2px;
  right:  2px;
  top:    2px;
  bottom: 2px;
}

.correct,
.incorrect {
  color: #FFF;
}

.correct {
  background: rgba(green, .93);
}

.incorrect {
  background: rgba(red, .93);
}

.error {
  color: red;
}

.option {
  width: 50%;
  float: left;
  position: relative;
  padding: 2px;
  height: 40px;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  border: 0;
}

input + label {
  text-align: center;
  background: #CCC;
  height: 100%;
  display: block;
  line-height: 36px;

  &:hover {
    background: darken(yellow, 5%);
    cursor: pointer;
  }
}

input:checked + label {
  background: yellow;
}

.score {
  float: right;
}

.final b {
  margin-top: 10px;
  font-size: 44px;
  display: block;
}

.js-show {
  @include opacity(1);
  @include transform(scale(1) rotateY(0deg));
}

.js-answered {
  @include opacity(0);
  @include transform(scale(.4) rotateY(-180deg));
}